.card-book
    a.card-book__link(href="#" target="_blank")
    .card-bool__inner
        .card-book__image
            img.img(src="https://kemlenvg8e.a.trbcdn.net/c516x688/new/40170000/40170088-1.jpg", alt="Фото книги")
        .card-book__about
            p.card-book__price 22.5 BYN
            p.card-book__title Айн Рэнд, Атлант расправил плечи