.card-book {
  position: relative;
  overflow: hidden;

  grid-column: span 1;
  align-self: center;

  border: 0.5px solid #393df2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: size-rem(20);

  @include padding(20, 20, 25);

  &__link {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;

    border-radius: size-rem(20);
    background-color: rgba($color: #000000, $alpha: 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(12px);

    font-size: size-rem(22);
    white-space: nowrap;

    opacity: 0;
    transition: opacity 0.1s;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: 'Перейти на сайт';

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);

      color: rgb(255, 255, 255);
      font-size: 0.8em;
    }
  }

  &__inner {
    @include flex-container(column, space-between);
    align-items: center;
  }

  &__image {
    text-align: center;
    margin-bottom: 20px;

    .img {
      object-fit: contain;
      width: 160px;
      height: 200px;
    }
  }

  &__price {
    text-transform: uppercase;
    font-weight: $font-wight-bold;
    font-size: 0.9375em;

    margin-bottom: 15px;
    padding: 5px 0px;

    //background-image: url('../image/about-shop/shops/shop_3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  &__title {
    font-size: 0.8125em;
    text-align: justify;
  }
}
