.filter-bar
    .filter-bar__item
        include ./search/search.pug
    .filter-bar__item
        label.select__label(for="sort-select") Сортировать: 
        select.select#sort-select(name="sort" )
            option.select__option(value="SortByPrice") По возрастанию цены
            option.select__option(value="SortByPriceDesc") По убыванию цены
            option.select__option(value="SortByAlphabetically") В алфавитном порядке
            option.select__option(value="SortByAlphabeticallyDesc") В обратном алфавитном порядке
