.filter-bar
    .filter-bar__search.search-bar
        input.input(type="text", name="search")
    .filter-bar__select.select-bar
        label.select__label(for="sort-select") Сортировать: 

        select.select#sort-select(name="sort" )
            option.select__option(value="По возрастанию цены") По возрастанию цены
            option.select__option(value="По убыванию цены") По убыванию цены
            option.select__option(value="В алфавитном порядке") В алфавитном порядке
            option.select__option(value="В обратном алфавитном порядке") В обратном алфавитном порядке
            