.filter-bar {
  margin-bottom: size-rem(20);

  @include flex-container(row, flex-start, wrap);

  &__item {
    flex: 0 0 40%;
    @include margin(0, 20, 50, 0);

    &:nth-child(2)
    {
      flex-basis: 20%;
    }
  }
}
