@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
.introduce__inner, .about-shop__inner, .cards-details__card, .catalog-genre-filter__inner, .catalog-main__inner {
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.introduce, .about-shop, .cards-details, .catalog-genre-filter, .catalog-main {
  margin-bottom: 54px;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

body {
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: black;
}

.catalog-main__inner, .catalog-genre-filter__inner, .cards-details__card, .about-shop__inner, .introduce__inner {
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.catalog-main, .catalog-genre-filter, .cards-details, .about-shop, .introduce {
  margin-bottom: 54px;
}

.button {
  display: inline-block;
  background-color: #3181EC;
  color: #fff;
  padding: 11px 20px;
  border-radius: 45px;
  box-shadow: 5px 1px 17px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.button:hover {
  background: #62a2f5;
}

.catalog-main__inner, .catalog-genre-filter__inner, .cards-details__card, .about-shop__inner, .introduce__inner {
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.catalog-main, .catalog-genre-filter, .cards-details, .about-shop, .introduce {
  margin-bottom: 54px;
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 45px 10px;
}

.catalog-main__inner, .catalog-genre-filter__inner, .cards-details__card, .about-shop__inner, .introduce__inner {
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.catalog-main, .catalog-genre-filter, .cards-details, .about-shop, .introduce {
  margin-bottom: 54px;
}

.nav__link_active, .nav__link:hover:not(.nav__link_active) {
  background-color: #62a2f5;
  border-radius: 45px;
  box-shadow: 5px 1px 17px rgba(0, 0, 0, 0.3);
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
  align-content: center;
}
.nav__item:not(.nav__item:last-child) {
  margin-right: 10px;
}
.nav__link {
  display: inline-block;
  padding: 7px 34px;
  color: #000;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 16px;
  transition: border-radius 0.1s;
}
.search-bar {
  position: relative;
  display: inline-block;
}
.search-bar .input {
  width: 100%;
  position: relative;
  display: block;
  border: 0;
  outline: none;
  background: #FDFDFD;
  border-radius: 45px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 5px 40px 5px 20px;
}
.search-bar::after {
  content: "";
  background-image: url("../image/search-bar/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.catalog-main__inner, .catalog-genre-filter__inner, .cards-details__card, .about-shop__inner, .introduce__inner {
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.catalog-main, .catalog-genre-filter, .cards-details, .about-shop, .introduce {
  margin-bottom: 54px;
}

.footer {
  background-color: #8EB6F6;
}
.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 40px 0;
}
.footer__column {
  flex: 1 0 50%;
  margin-bottom: 5px;
  transform: translateY(-5px);
}
.footer__item a {
  color: black;
}
.footer__item a:hover {
  color: cornsilk;
}

.catalog-main__inner, .catalog-genre-filter__inner, .cards-details__card, .about-shop__inner, .introduce__inner {
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.catalog-main, .catalog-genre-filter, .cards-details, .about-shop, .introduce {
  margin-bottom: 54px;
}

.page {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.catalog-main__inner, .catalog-genre-filter__inner, .cards-details__card, .about-shop__inner, .introduce__inner {
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.catalog-main, .catalog-genre-filter, .cards-details, .about-shop, .introduce {
  margin-bottom: 54px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.catalog-main__inner, .catalog-genre-filter__inner, .cards-details__card, .about-shop__inner, .introduce__inner {
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.catalog-main, .catalog-genre-filter, .cards-details, .about-shop, .introduce {
  margin-bottom: 54px;
}

.introduce__inner {
  padding: 26px 46px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.introduce__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex: 1 0 50%;
  padding-bottom: 43px;
}
.introduce__title {
  font-weight: 600;
  font-size: 2.5em;
}
.introduce__subtitle {
  margin-bottom: 20px;
}
.introduce__image {
  flex: 1 0 50%;
  text-align: center;
  padding: 0 50px;
  background-image: url("../image/introduce/introduce.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 450px;
  height: 450px;
}

.catalog-main__inner, .catalog-genre-filter__inner, .cards-details__card, .introduce__inner, .about-shop__inner {
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.catalog-main, .catalog-genre-filter, .cards-details, .introduce, .about-shop {
  margin-bottom: 54px;
}

.about-shop__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0px 50px;
}
.about-shop__image {
  flex: 1 0 50%;
  text-align: center;
  background-image: url("../image/about-shop/about-shop.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 450px;
  height: 450px;
}
.about-shop__image .img {
  object-fit: cover;
  width: 450px;
  height: 450px;
}
.about-shop__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex: 1 0 50%;
  padding-top: 40px;
  padding-bottom: 100px;
}
.about-shop__text {
  font-size: 1.2em;
}
.about-shop__image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.about-shop__image-item {
  flex: 1 0 50%;
  text-align: center;
}
.about-shop__image-item .img {
  width: 70%;
}

.catalog-main__inner, .catalog-genre-filter__inner, .introduce__inner, .about-shop__inner, .cards-details__card {
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.catalog-main, .catalog-genre-filter, .introduce, .about-shop, .cards-details {
  margin-bottom: 54px;
}

.cards-details__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}
.cards-details__card {
  flex: 0 0 25%;
}

.catalog-main__inner, .catalog-genre-filter__inner, .introduce__inner, .about-shop__inner, .cards-details__card {
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.catalog-main, .catalog-genre-filter, .introduce, .about-shop, .cards-details {
  margin-bottom: 54px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  transform: translateY(-10px);
  padding: 20px 45px 45px;
}
.card__img .img {
  object-fit: contain;
  width: 250px;
  height: 250px;
}
.card__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 40px;
}
.card__title {
  margin-bottom: 17px;
  font-size: 1.2em;
  font-weight: 600;
}

.catalog-main__inner, .introduce__inner, .about-shop__inner, .cards-details__card, .catalog-genre-filter__inner {
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.catalog-main, .introduce, .about-shop, .cards-details, .catalog-genre-filter {
  margin-bottom: 54px;
}

.catalog-genre-filter__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  padding: 60px 30px;
}
.catalog-genre-filter__item {
  flex: 0 0 20%;
  padding: 0;
  text-align: center;
  transition: transform 0.2s;
}
.catalog-genre-filter__item a {
  text-transform: uppercase;
  font-size: 0.825em;
  font-weight: 600;
}
.catalog-genre-filter__item .img {
  object-fit: contain;
  width: 200px;
  height: 200px;
}
.catalog-genre-filter__item:hover {
  transform: translateY(-10px);
}

.filter-bar__search {
  min-width: 240px;
  width: 50%;
  margin-bottom: 50px;
}
.filter-bar__search .input {
  border: 1px solid #393DF2;
}
.filter-bar__select .select {
  padding: 9px 20px;
  border-radius: 45px;
  border-width: 0;
  background-color: #8EB6F6;
  background-image: url("../image/select/caret-down-solid.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  appearance: none;
}
.filter-bar__select .select:active, .filter-bar__select .select:hover, .filter-bar__select .select:focus {
  border-width: 0;
  outline: none;
  border-radius: 45px 0px;
}
.filter-bar__select .select__label {
  display: inline-block;
  margin-right: 5px;
}

.catalog-main__inner {
  padding: 64px 78px;
}

/*# sourceMappingURL=style.css.map */
