.about-shop
    .container
        .adout-shop__inner
            .about-shop__image
                img.img(src="", alt="")
            .about-shop__info
                .about-shop__text Мы просматриваем вместо тебя популярные интернет-магазины и выбираем самые выгодные предложения по цене, доставке и оплате.
                .about-shop__image-container
                    .about-shop__image-item
                        img.img.img_shop(src="", alt="")
                    .about-shop__image-item
                        img.img.img_shop(src="", alt="")
                    .about-shop__image-item
                        img.img.img_shop(src="", alt="")
                    .about-shop__image-item
                        img.img.img_shop(src="", alt="")