.cards-details
    .container
        .cards-details__inner
            .cards-details__card.card
                .card__img
                    img.img(src="", alt="")
                h2.card__title 
                p.card__text 
                .button.card__button 
                a(href="") 
            .cards-details__card.card
                .card__img
                    img.img(src="", alt="")
                h2.card__title 
                p.card__text 
                .button.card__button 
                a(href="") 
            .cards-details__card.card
                .card__img
                    img.img(src="", alt="")
                h2.card__title 
                p.card__text 
                .button.card__button 
                a(href="") 