.cards-details
    .container
        .cards-details__inner
            .cards-details__card.card
                .card__img
                    img.img(src="image/cards/card_1.png", alt="")
                .card__description
                    h2.card__title Акции
                    p.card__text Узнай об актуальных акциях на книги в популярных интернет-магазинах
                a.button.card__button(href="#") Подробнее
            .cards-details__card.card
                .card__img
                    img.img(src="image/cards/card_2.png", alt="")
                .card__description
                    h2.card__title Оплата
                    p.card__text При рекомендации мы сообщим, каким образом происходит оплата в том или ином интернет-магазине
                a.button.card__button(href="#") Подробнее
            .cards-details__card.card
                .card__img
                    img.img(src="image/cards/card_3.png", alt="")
                .card__description
                    h2.card__title Доставка
                    p.card__text Выбери наиболее удобный для тебя способ доставки
                a.button.card__button(href="#") Подробнее