.introduce
    .container
        .introduce__inner.box-common-stile
            h1.introduce__title Закажи книгу по самой выгодной цене
            p.introduce__text Найди в нашем каталоге книгу в которой вы заинтересованы, и мы скажем тебе в каком магазине сейчас самая выгодная цена
            a.button.introduce__button(href="#") Выбрать Книгу
            .introduce__image
                img(src="", alt="Книги")