.introduce
    .container
        .introduce__inner
            .introduce__text
                h1.introduce__title Закажи книгу по самой выгодной цене
                p.introduce__subtitle Найди в нашем каталоге книгу в которой вы заинтересованы, и мы скажем тебе в каком магазине сейчас самая выгодная цена
                a.button.introduce__button(href="#") Выбрать Книгу
            .introduce__image
                img.img(src="image/introduce/introduce.png", alt="Книги")