.search
	.search__input
		.input__wrapper
			input.input#search(type="text" name="search" placeholder ="Введите название книги")
	.search__button
		.button__wrapper
			input.button#btn(type="button" value="Найти")