@use "../varibals-and-mixins.scss" as global;

.introduce
{
    @extend %block-spacing;
    
    &__inner
    {
        @extend %common-box;
        padding: 26px 46px;
        overflow: hidden;

        @include global.flex-container-costomaize(row, space-between);

    }

    &__text
    {
        @include global.flex-container-costomaize(column, space-between);
        align-items: flex-start;

        flex: 1 0 50%;

        padding-bottom: 43px;
    }

    &__title
    {
        font-weight: global.$font-wight-bold;
        font-size: global.$font-size-h1;
    }

    &__image
    {
        flex: 1 0 50%;
        text-align: center;

        padding: 0 50px;

        background-image: url("../image/introduce/introduce.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 450px;
        height: 450px;
        
        // .img
        // {
        //     object-fit: cover;
        //     width: 450px;
        //     height: 450px;
        //     //max-height: 553px;
        // }
    }
}