.card
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 0 45px 45px;

    &__img
    {
        flex: 1 0 20%;
        text-align: center;
        position: relative;

        .img
        {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
    }

    &__description
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title
    {
        margin-bottom: 17px;
        font-size: 1.2em;
        font-weight: 600;
    }

    &__text
    {
        margin-bottom: 40px;
    }
}