header.header
    .container
        .header__inner
            .header__search-bar.search-bar
                input.input(type="text", name="search")
            include .\nav\nav.pug
                                