@import './normalize.scss';
@import '../components/global-variable/global-variable.scss';
@import '../components/catalog-main/catalog-main.scss';

:root {
  font-size: $font-size;
}

body {
  padding: 30px 0;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
