
//Глобальные переменные
$font-stack: 'Montserrat', sans-serif;;
$font-size-basic: 16px;
$font-size-text: 1.2em;
$font-size-h1: 2.5em;
$font-size-nav: 0.75em;
$font-size-catalog-filter: 0.825em;
$font-weight: 500;
$font-wight-bold: 600;

$bgc-body: #fafafa;

//block
$bgc-block: #fdfdfd;
$border-radius-block: 20px;
$space-between-block: 54px;


//btn
$btn-color: #3181EC;
$btn-hover-color: #62a2f5;
$btn-text-color: #fff;

//container
$bs-width-container: 1240px;

//footer
$bgc-footer: #8EB6F6;

//nav
$bgc-nav-item-active: #62a2f5;;
$nav-text-color: #000;



//Расширения
%common-box{
    background: $bgc-block;
    border-radius: $border-radius-block;
    box-shadow: 4px 4px 20px rgba(0,0,0, 0.25);
}

%block-spacing
{
    margin-bottom: $space-between-block;
}


// Миксины
@mixin flex-container-costomaize(
    $direction,
    $justify: space-between,
    $wrap: nowrap)
{
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    flex-wrap: $wrap;
}

