nav.nav.header__nav
    ul.nav__list
        li.nav__item.nav__item_active
            a.nav__link(href="D:/Code/Sravni.by/dest/index.html") Главная
        li.nav__item
            a.nav__link(href="D:/Code/Sravni.by/dest/catalog/catalog.html") Каталог
        li.nav__item
            a.nav__link(href="#") Акции
        li.nav__item
            a.nav__link(href="#") Оплата
        li.nav__item
            a.nav__link(href="#") Доставка