@mixin padding($values...) {
  padding: size-arr-rem($values...);
}

@mixin margin($values...) {
  margin: size-arr-rem($values...);
}

@mixin flex-container($direction, $justify: space-between, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  flex-wrap: $wrap;
}
