footer.footer
    .container
        .footer__inner
            ul.footer__column
                li.footer__item Powered by ISIT GI-31 
            ul.footer__column
                li.footer__item 
                    a(href = "https://by.wildberries.ru/") by.wildberries.ru
                li.footer__item 
                    a(href = "https://oz.by/") oz.by
                li.footer__item 
                    a(href = "https://www.ozon.ru/") www.ozon.ru 