@use "../varibals-and-mixins.scss" as global;

.footer
{
    background-color: global.$bgc-footer;

    &__inner
    {
        @include global.flex-container-costomaize(row, space-between);
        align-items: flex-end;

        padding: 40px 0;
    }

    &__column
    {
        flex: 1 0 50%;
    }

    &__item
    {
        a
        {
            color: black;
        }

        a:hover
        {
            color: cornsilk;
        }
    }
}