.about-shop
    .container
        .about-shop__inner
            .about-shop__image
                //img.img(src="image/about-shop/about-shop.png", alt="Находка")
            .about-shop__info
                .about-shop__text Мы просматриваем вместо тебя популярные интернет-магазины и выбираем самые выгодные предложения по цене, доставке и оплате.
                .about-shop__image-container
                    .about-shop__image-item
                        img.img.img_shop(src="image/about-shop/shops/shop_1.png", alt="WB")
                    .about-shop__image-item
                        img.img.img_shop(src="image/about-shop/shops/shop_2.png", alt="OZON")
                    .about-shop__image-item
                        img.img.img_shop(src="image/about-shop/shops/shop_3.png", alt="OZ")
                    .about-shop__image-item
                        img.img.img_shop(src="image/about-shop/shops/shop_4.png", alt="Лабиринт")