@use "../varibals-and-mixins.scss" as global;

.about-shop
{
    @extend %block-spacing;

    &__inner
    {
        @extend %common-box;
        @include global.flex-container-costomaize(row, space-between);
        
        padding: 0px 50px;
        
    }

    &__image
    {
        flex: 1 0 50%;
        text-align: center;

        background-image: url("../image/about-shop/about-shop.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 450px;
        height: 450px;

        .img
        {
            object-fit: cover;
            width: 450px;
            height: 450px;
        }
    }

    &__info
    {

        @include global.flex-container-costomaize(column, space-between);
        align-items: flex-start;

        flex: 1 0 50%;
        
        padding-top: 40px;
        padding-bottom: 100px;
        
    }
    
    &__text
    {
        font-size: global.$font-size-text;
    }

    &__image-container
    {

        @include global.flex-container-costomaize(row, space-between, wrap);

        align-items: center;
    }

    &__image-item
    {
        flex: 1 0 50%;
        text-align: center;

        .img
        {
            width: 70%;
        }
    }

}

