@use './components/varibals-and-mixins.scss' as *;
@import "./components/normalizer/normalize.scss";

//Подключение основного шрифта
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


html
{
    font-family: $font-stack;
    font-size: $font-size-basic;
    font-weight: $font-weight;
}

body
{
    background-color: $bgc-body;
}

a
{
    text-decoration: none;
}

@import "./components/container/container.scss";
@import "./components/page/page.scss";
@import "./components/button/button.scss";
@import "./components/header/header.scss";
@import "./components/introduce/introduce.scss";
@import "./components/about-shop/about-shop.scss";
@import "./components/cards-details/cards-details.scss";
@import "./components/footer/footer.scss";
