@use 'varibals-and-mixins.scss' as *;
@import "./normalizer/normalize.scss";

//Подключение основного шрифта
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


html
{
    font-family: $font-stack;
    font-size: $font-size-basic;
    font-weight: $font-weight;
}

body
{
    background-color: $bgc-body;
}

a
{
    text-decoration: none;
}

@import "./container/container.scss";
@import "./button/button.scss";
@import "./header/header.scss";
@import "./introduce/introduce.scss";
@import "./about-shop/about-shop.scss";
@import "./cards-details/cards-details.scss";
@import "./footer/footer.scss";
