@use "../varibals-and-mixins.scss" as global;

.catalog-genre-filter
{
    @extend %block-spacing;

    &__inner
    {
        @extend %common-box;
        @include global.flex-container-costomaize(row, space-around, wrap);
        align-content: center;
        padding: 60px 30px;
    }

    &__item
    {
        flex: 0 0 20%;
        padding: 0;
        text-align: center;

        transition: transform 0.2s;

        a{
            text-transform: uppercase;
            font-size: global.$font-size-catalog-filter;
            font-weight: global.$font-wight-bold;
        }
         

        .img{
            object-fit: contain;
            width: 200px;
            height: 200px;
        }

        &:hover
        {
            transform: translateY(-10px);
        }
    }


}