.catalog-genre-filter
    .container
        .catalog-genre-filter__inner
            .catalog-genre-filter__item.item
                a.item__link(href="#") 
                    img.img(src="../image/catalog-genre-filter/filter_1.png", alt="")
                    p.card__text Художественная литература 
            .catalog-genre-filter__item.item
                a.item__link(href="#") 
                    img.img(src="../image/catalog-genre-filter/filter_2.png", alt="")
                    p.card__text неХудожественная литература 
            .catalog-genre-filter__item.item
                a.item__link(href="#") 
                    img.img(src="../image/catalog-genre-filter/filter_3.png", alt="")
                    p.card__text детская литература
            .catalog-genre-filter__item.item
                a.item__link(href="#") 
                    img.img(src="../image/catalog-genre-filter/filter_4.png", alt="")
                    p.card__text бизнес литература 
            .catalog-genre-filter__item.item
                a.item__link(href="#") 
                    img.img(src="../image/catalog-genre-filter/filter_5.png", alt="")
                    p.card__text учебная литература